@model Proyecto_Web.Entidades.Evento

<div class="container-fluid content-header">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <br />
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title" style="text-align:center; font-size:large">Actualizar Evento</h3>
                </div>

                @using (Html.BeginForm("ActualizarEvento", "Evento", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <input asp-for="IdEvento" type="hidden" readonly="readonly" required />

                    <div class="card-body">
                        <label>Nombre</label>
                        <input asp-for="Nombre" class="form-control" type="text" placeholder="Nombre" readonly="readonly" required />
                        <br>

                        <label>Fecha</label>
                        <input asp-for="Fecha" class="form-control" type="date" required />
                        <br>

                        <label>Hora</label>
                        <input asp-for="Hora" class="form-control" type="time" required />
                        <br>

                        <label>Ubicación</label>
                        <input asp-for="Ubicacion" class="form-control" type="text" placeholder="Ubicación" required />
                        <br>

                        <label>Precio</label>
                        <input asp-for="Precio" id="Precio" class="form-control" type="text" placeholder="Precio" required
                               onkeypress="return ValidarNumeros(this.id)" onpaste="return false;" />
                        <br>

                        <label>Descripción</label>
                        <textarea asp-for="Descripcion" class="form-control" rows="3" placeholder="Descripción" required></textarea>
                        <br>

                        <label>Imagen</label>
                        <div class="row">
                            <div class="col-7">
                                <input accept="image/png" id="Imagen" name="Imagen" class="form-control" type="file">
                            </div>
                            <div class="col-5" style="text-align:center">
                                <img src="@ViewBag.urlImagen" style="width:150px; height:150px;">
                            </div>
                        </div>
                        <br>

                        @if (ViewBag.MsjPantalla != null)
                        {
                            <div class="alert alert-warning" role="alert" style="text-align:center">
                                @ViewBag.MsjPantalla
                            </div>
                        }

                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Procesar</button>
                            </div>
                        </div>
                </div>
                }
            </div>

        </div>
    </div>

</div>

<script>
    function ValidarNumeros(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;

        if (charCode >= 48 && charCode <= 57) {
            return true;
        }
        else if (charCode == 46) {
            var txt = document.getElementById(evt).value;
            if (!(txt.indexOf(".") > -1)) {
                return true;
            }
        }

        return false;
    }
</script>